<p>employee works!</p>
<h2>{{employee.empname}}</h2>Details of an employee
<div><span>EmpId:</span>{{employee.empid}}</div>
<div><span>EmpDesignation:</span>{{employee.empdesignation}}</div>


<div>
    <label for="empid">EmpId</label>
    <input type="text" [(ngModel)]="employee.empid" placeholder="EmpId">

    <label for="empid">EmpDesignation</label>
    <input type="text" [(ngModel)]="employee.empdesignation" placeholder="EmpDesignation">

    <label for="empid">empname</label>
    <input type="text" [(ngModel)]="employee.empname" placeholder="empname">

    
</div>